body {
    background-color: #283618;
    height: 100vh;
    box-sizing: border-box;
}

.gameContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    background-color: #606c38;
    height: 50vh;
    width: 50vh;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 40px;
}

.gameItem {
    text-align: center;
    vertical-align: center;
    color: #fefae0;
    font-size: 3rem;
    height: 100%;
    width: 100%;
}